# Telegram Bot API
aiogram~=3.26.0
# Logging
loguru~=0.7.3
# Database
peewee~=4.0.3
# Environment variables
python-dotenv~=1.2.2
# HTTP client
requests~=2.33.0
# Excel export
openpyxl~=3.1.5
# Console output
rich~=14.3.3
# Localization
fluent-runtime~=0.3.2